version: "3.9"

services:
  app:
    build:
      context: .
      target: dev
    container_name: nuxt_app
    ports:
      - "3000:3000"
    volumes:
      - .:/app:cached
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres
    container_name: postgres_dev
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
