/* Randers farver */

:root
{
    --randers-color-: #2f469c;
    --randers-color-dark: #243576;
    --randers-color-semilight: #5265a8;
    --randers-color-light: #6f7eb4;
}
.darkmode, .darkmode *
{
    --randers-color-: #5265a8;
}

a
{
    color: var(--randers-color-); 
}
    a:focus
    {
        color: var(--randers-color-);
    }
    a:hover
    {
        color: var(--randers-color-light);
    }

button, input[type='submit']
{
    background-color: var(--randers-color-);
}
    button:focus, input[type='submit']:focus
    {
        background-color: var(--randers-color-);
    }
    button:hover, input[type='submit']:hover
    {
        background-color: var(--randers-color-semilight);
    }
    .darkmode button:hover, .darkmode input[type='submit']:hover
    {
        background-color: var(--randers-color-light);
    }
